# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Env files
.env

# Build artifacts
dist/
build/
*.egg-info/

# Patch artifacts
*.orig
*.rej

# OS junk
.DS_Store
Thumbs.db

# VS Code
. vscode/